body {
    
    font-family: 'Comfortaa';
    font-weight: 300;
}

.scroll-hidden {
    overflow: hidden;
}

.main {
    max-width: 1295px;
    margin: 0 auto;
}

/* Header start */

.header {
    padding-bottom: 45px;
}

.catalog-page .header,
.item-page .header,
.basket-page .header {
    padding-bottom: 25px;
}

.header__wrapper {
    max-width: 1295px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 247px;
    margin: 0 auto;
}

.header__navbar,
.header__cart {
    align-self: flex-end;
}

.header__logo {
    margin-top: 10px;
}

.cart {
    position: relative;
}

.cart__count {
    position: absolute;
    top: -15px;
    right: -6px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    font-size: 9px;
    line-height: 1.55;
    text-align: center;
    
    background: #C8E5D4;
}

.cart__img {
    width: 100%;
    height: auto;
}

.navbar {
    position: relative;
}

.navbar__hamburger {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.navbar__line,
.navbar__line:before,
.navbar__line:after {
    position: relative;
    width: 44px;
    height: 7px;
    border-radius: 5px;
    background-color: #D05147;
}

.navbar__line:before,
.navbar__line:after {
    content: '';
    position: absolute;
    left: 0;
    background-color: #000;
}

.navbar__line:before {
    top: 13px;
}

.navbar__line:after {
    top: -13px;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo__image {
    width: 100%;
    height: auto;
}

.logo__phone {
    position: relative;
    display: inline-block;
    margin-left: 35px;
    margin-bottom: 22px;
    font-family: 'Comfortaa';
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    color: #000;
}

.logo__phone::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -25px;
    width: 19px;
    height: 19px;
    background: url('../img/phone.png');
    background-size: cover;
}

.button {
    border-radius: 30px;
    border: 1px solid #66977A;
    background-color: #C8E5D4;
    cursor: pointer;
    outline: none;
}

.logo__button {
    margin-left: 10px;
    width: 206px;
    height: 36px;
    font-size: 12px;
    font-weight: 400;
}

.button:hover {
    background: #66977A;
    color: #fff;
}

.button:active {
    border-color: #FD9C95;
    background: transparent;
    color: #000;
}

.cart__img {
    width: 100%;
    height: auto;
}

/* Header finehed */

/*Menu start*/

.menu {
    display: none;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 524px;
    border-radius: 32px;
    background-color: #FFE0DE;
    z-index: 30;
}

.menu__list {
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 35px;
    list-style: none;
}

.menu_open {
    display: block;
}

.close {
    position: absolute;
    top: 15px;
    right: -15px;
    margin-top: 15px;
    margin-right: 35px;
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    font-size: 0;
    outline: none;
    cursor: pointer;
    z-index: 10;
}

.close::after,
.close::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 4px;
    width: 25px;
    height: 2px;
    background-color: #993B36;
}
.close::after,
.close::after {
    transform: rotate(45deg);
}

.close::before,
.close::before {
    transform: rotate(-45deg);
}

.menu__item {
    font-size: 24px;
}

.menu__item:first-child .menu__link {
    padding-top: 0;
}

.menu__item:not(:last-child) {
    border-bottom: 1px solid #fff;
}

.menu__link {
    display: inline-block;
    padding: 25px 0;
    padding-left: 60px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
}

.menu__link:link {
    color: #CF5147;
}
/*Menu end*/

/*Popup start*/

.modal {
    position: fixed;
    display: none;
    padding: 0 20px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}

.popup {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 798px;
    width: 100%;
    padding: 2px 0;
    border-radius: 45px;
    box-sizing: border-box;
    background-color: #fff;
    animation-name: shake;
    animation-duration: 0.6s;
}

.popup_open {
    display: block;
}

.popup__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 45px auto;
}

.popup__title {
    margin-bottom: 65px;
    text-align: center;
    text-align: center;
    font-size: 24px;
}

.popup__form {
    display: flex;
    flex-direction: column;
}

.popup__input {
    width: 231px;
    height: 45px;
    margin-bottom: 60px;
    border: 3px solid #C8E5D4;
    border-radius: 15px;
    padding-left: 32px;
    font-size: 24px;
    outline: none;
}

.popup__button {
    width: 166px;
    margin: 0 auto;
    height: 36px;
    font-size: 18px;
}

.popup__succes {
    display: none;
    flex-direction: column;
    margin-top: 85px;
    min-height: 270px;
    text-align: center; 
    font-size: 24px;
    background: url('../img/popup__bg-succes.png') no-repeat center;
}

.popup__text {
    margin: 0 auto;
    width: 440px;
    margin-bottom: 42px;
    line-height: 1.2;
}

.popup__label {
    display: inline-block;
}

.popup__input_address-mini {
    max-width: 87px;
}

.popup_basket {
    max-width: 1000px;
    box-sizing: border-box;
}

.popup_basket .popup__input-wrapper {
    display: flex;
    align-items: baseline;
}

.popup_basket .popup__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
}

.popup_basket .popup__form {
    padding-top: 12px;
    width: 645px;
}

.popup_basket .popup__title {
    font-weight: 300;
    font-size: 28px;
}

.popup_basket .popup__data {
    width: auto;
    padding: 25px 0 75px;
}

.popup_basket .popup__label {
    flex-grow: 1;
    min-width: 140px;
    height: 30px;
    font-size: 24px;
}

.popup_basket .popup__input {
    padding-left: 16px;
    flex-grow: 4;
    font-size: 18px;
}

.popup__input_address-mini {
    margin-left: 13px;
    width: 87px;
}

.popup_basket .popup__input_checkbox {
    display: none;
    
}

.popup_basket .popup__label_checkbox {
    position: relative;
    display: inline-block;
    text-align: end;
}

.popup__label_checkbox:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -20px;
    width: 34px;
    height: 34px;
    border-radius: 15px;
    border: 2px solid #C8E5D4;
    cursor: pointer;
}

.popup__input_checkbox:checked + .popup__label_checkbox:before {
    background: url('../img/checked.svg') no-repeat center;
}

.popup_basket .popup__close {
    top: 30px;
    right: 0px;
}

@keyframes shake {
    0% {
        transform: translateX(-50%) translateY(-2000px);
    }

    50% {
        transform: translateX(-50%) translateY(50px);
    }

    100% {
        transform: translateX(-50%) translateY(-50%);
    }

}
/* Popup end */

/* Slider start */

.slider {
    position: relative;
    margin-bottom: 128px;
    height: 522px;
}

.reviews__arrow,
.slider__arrow {
    position: absolute;
    top: 260px;
    display: block;
    width: 30px;
    height: 54px;
    transform: translateY(-50%);
    border: 0;
    font-size: 0;
    background: url('../img/arrow_black.svg') no-repeat center;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    z-index: 20;
}

.reviews__arrow_right,
.slider__arrow_right {
    transform: translateY(-50%) rotate(180deg);
 }

 .reviews__arrow_right,
 .slider__arrow_right {
     right: 10px;
 }

 .slider__arrow_left {
    left: 10px;
}

.slider__list {
    position: relative;
    top: 0;
    margin: 0 auto 10px;
    padding: 0;
    list-style: none;
    max-width: 1160px;
}

.slider__slide {
    position: absolute;
    width: 100%;
    transition: 1s;
}

.slider__img {
    width: 100%;
}

.slider__text {
    position: absolute;
    top: 31%;
    left: 50%;
    width: 325px;
    text-align: center;
    line-height: 1.6;
    font-size: 36px;
    transform: translateX(-50%) translateY(-50%);
}

.slider__dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    margin: 0 auto;
    z-index: 10;
}

.dots {
    display: none;
    width: 75px;
    margin: 0 auto;
}

.dots__dot {
    padding: 0;
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 100%;
    background-color: #C4C4C4;
}

.dots__dot_active {
    background-color: #66977A;
}

/* Slider finished */

/* Catalog start*/

.catalog {
    margin-bottom: 60px;
    background: url('../img/butterfly.png') no-repeat right 450px,
                url('../img/branch.png') no-repeat left bottom;
}

.catalog__title {
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1112px;
    padding: 0;
    padding-top: 43px;
    list-style: none;
}

.categories__category {
    margin-right: 97px;
    margin-bottom: 55px;
}

.categories__category:nth-child(3n),
.categories__category:last-child {
    margin-right: 0;
}

.categories__img {
    width: 100%;
    height: 299px;
    margin-bottom: 10px;
}

.categories__title {
    margin: 0;
    text-align: center;
    font-size: 24px;
}

/* Catalog finished */

/* Reviews start */

.reviews {
    margin-bottom: 132px;
    background: url('../img/butterflies.png') no-repeat top right;
}

.reviews__wrapper {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    background: url('../img/bg_2.jpg') no-repeat 0 60px;
}

.reviews__title {
    margin: 0;
    margin-bottom: 46px;
    text-align: center;
    font-size: 36px;
}

.reviews__window {
    margin: 0 auto;
    overflow: hidden;
    
}

.reviews__list {
    position: relative;
    top: -50px;
    left: 0;
    margin: 60px auto 0;
    padding: 0 30px;
    width: 1525px;
    list-style: none;
    transition: left 1s;
}

.reviews__arrow {
    top: 52%;
    background: url('../img/arrow_green.svg') no-repeat center;
}

.reviews__arrow_left {
    left: -55px;
}

.reviews__arrow_right {
    right: -55px;
}

.reviews__review {
    display: inline-block;
    max-width: 270px;
    max-height: 480px;
    margin-right: 35px;
}

.reviews__img {
    width: 100%;
    height: auto;
}

/* Reviews finished */

/* Contact start */

.contacts__title {
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
}   

.contacts__contact {
    height: 442px;
    background: url('../img/bg_contact.png') no-repeat center;
    background-size: 100%;
}

/* Contact finished */

/* Contacts start */
.contacts {
    position: relative;
    min-height: 635px;
    margin-bottom: 115px;
}

.contacts__wrapper {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.contacts__mail {
    font-size: 24px;
    text-decoration: none;
    color: #000;
}

.social {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.contacts__social {
    margin-bottom: 20px;
}

.social__link {
    display: block;
    width: 47px;
    height: 47px;
}

.social__link_viber {
    background: url('../img/icon/viber.svg') no-repeat center;
}

.social__link_vk {
    background: url('../img/icon/vk.svg') no-repeat center;
}

.social__link_instagram {
    background: url('../img/icon/instagram.svg') no-repeat center;
}

.social__link_whatsup {
    background: url('../img/icon/whatsup.svg') no-repeat center;
}

/* Contacts finish */

/* Bradcrumb start */

.breadcrumb {
    margin-bottom: 30px;
    padding-left: 8px;
    list-style: none;
}

.contact-page .breadcrumb {
    float: left;
    max-width: 450px;
    margin: 0;
}

.item-page .breadcrumb {
    margin-bottom: 44px;
}



.breadcrumb__item {
    display: inline;
    padding-right: 3px;
    font-size: 24px;
}

.breadcrumb__item:not(:last-child):after {
    content: '/';
}

.breadcrumb__item:last-child {
    color: #66977A;
}

.breadcrumb__link {
    text-decoration: none;
    color: #000;
}

/* Bradcrumb end*/

/* Products start */

.products {
    margin: 0 auto 22px;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    max-width: 1300px;
    list-style: none;
}

.products__item {
    margin-bottom: 95px;
    margin-right: 104px;
    cursor: pointer;
}

.products__item:hover .product__wrapper {
    background-image: linear-gradient(-135deg, 
                                    rgba(200, 229, 212, 1) 50%,
                                    rgba(254, 214, 211, 1) 75%,
                                    rgba(253, 156, 149, 1) 100%);
}

.product__img {
    display: block;
    width: 100%;
    height: auto;
}

.products__item:nth-child(4n) {
    margin-right: 0;
}

.product__wrapper {
    margin-bottom: 10px;
    padding: 8px;
    background: #C8E5D4;
}

.product__title {
    margin: 0;
    margin-bottom: 18px;
    color: #969696;
    font-size: 18px;
}

.product__price {
    font-size: 24px;
}

/* Products end */

/* Pagination start */


.pagination {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 310px;
    margin: 0 auto 130px;
    padding: 0;
    list-style: none;
}

.pagination::after,
.pagination::before {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 30px;
    height: 44px;
   
}

.pagination::after {
    right: -50px;
    background: url('../img/arrow_red.svg') no-repeat center;
}

.pagination::before {
    left: -50px;
    background: url('../img/arrow_red-disabled.svg') no-repeat center;
}

.pagination__item {
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 7px;
    background: #DDEFE4;
    font-size: 24px;
    line-height: 2;
    box-sizing: border-box;
}

.pagination__link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
}

/* Pagination end */

/*item start*/
    
.item {
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    margin-bottom: 137px;
}

.item__left {
    flex-grow: 1;
}

.item__right {
    flex-grow: 3;
    margin-left: 20px;
}

.gallery {
    width: 330px;
}

.gallery__central {
    margin-bottom: 15px;
}

.gallery__wrapper {
    display: flex;
    justify-content: space-between;
}

.gallery__img {
    width: 100%;
    max-height: 400px;
    cursor: pointer;
}

.gallery__img_small {
    width: 100px;
    height: 130px;
}

.item__title {
    margin: 0;
    margin-bottom: 38px;
    padding-bottom: 5px;
    border-bottom: 2px solid #E5E5E5;
    font-size: 28px;
    font-weight: 300;
}

.item__price {
    color: #D05147;
    font-size: 48px;
}

.item__table-size {
    margin-top: 45px;
}

.table-size {
    display: flex;
    margin-top: 45px;
    margin-bottom: 51px;
}

.table-size__input {
    display: none;
}

.table-size__label {
    display: block;
    margin-right: 20px;
    width: 41px;
    height: 41px;
    text-align: center;
    border: 3px solid #C8E5D4;
    border-radius: 7px;
    line-height: 1.8;
    font-size: 24px;
    cursor: pointer;
}

.table-size__input:checked + .table-size__label {
    border-color: #D05147;
}

.table-info {
    margin-bottom: 78px;
}

.table-info__title {
    margin-bottom: 22px;
    padding-left: 10px;
    text-align: start;
    font-size: 28px;
}

.table-info__tr {
    height: 32px;
    font-size: 24px;
}

.table-info__th {
    display: inline;
    color: #D05147;
    font-weight: 300;
}

.table-info__td {
    display: inline;
}

.item__button {
    padding: 19px 43px;
    font-size: 28px;
}

/*item end*/

/*contact start */

.contact {
    margin-bottom: 50px;
}

.contact__social {
    width: 240px;
}

.contact__bg {
    position: relative;
    height: 425px;
    font-size: 24px;
    background: url('../img/bg_contact-2.png') no-repeat 25% -20px;
}

.contact__wrapper {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    margin: 0 auto;
}

.contact__social {
    margin-bottom: 20px;
}

.contact__mail {
    color: #000;
    text-decoration: none;
}
/*contact end */

/*transport start*/

.transports {
    margin: 0 auto 125px;
    max-width: 725px;
}

.transport__title {
    text-align: center;
    font-size: 28px;
    font-weight: 300;
}

.transport__list {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
    padding: 10px 0;
    list-style: none;
}

/*transport end*/

/* basket start */

.basket {
    margin-bottom: 160px;
    max-width: 1280px;
    text-align: center;
}

.basket__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    margin-bottom: 50px;
    list-style: none;
}

.basket__item {
    position: relative;
    display: flex;
    padding-bottom: 40px;
    border-bottom: 2px solid #E5E5E5;
    margin-bottom: 41px;
}

.basket__item:last-child {
    border-bottom: 0;
}

.basket__title {
    margin-top: 5px;
    margin-bottom: 45px;
    font-size: 28px;
    font-weight: 300;
}

.basket__left-item {
    width: 330px;
}

.basket__right-item {
    padding-left: 75px;
    text-align: start;
}

.basket__button {
    padding: 18px 75px;
    border-radius: 45px;
    font-size: 28px;
}

.basket__img {
    width: 100%;
    height: 400px
}

.basket__price {
    font-size: 48px;
    color: #D05147;
}

.basket__close {
    top: -5px;
    margin-top: 0;
    margin-right: 0;
}

.basket__size {
    margin-top: 50px;
    width: 40px;
    height: 40px;
    border: 3px solid #C8E5D4;
    border-radius: 7px;
    line-height: 1.7;
    text-align: center;
    font-size: 24px;

}

/*basket end*/

/* Footer start */

.footer {
    margin-bottom: 38px;
}

.footer__copyright {
    margin: 0 auto;
    width: 245px;
    font-size: 24px;
}
/* Footer finish */

@media screen and (max-width: 1310px) {
     /*header start*/
    .header__wrapper {
        padding: 0 20px;
        box-sizing: border-box;
    }
    /*header finishe*/

    /*review start*/

    .reviews__wrapper {
        max-width: 890px;
    }

    /*review finish*/

    /*catalog start*/

    .products__list {
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1150px;
    }

    .products__item {
        margin-right: 0;
    }

    /*catalog end*/

    /*basket start*/

    .basket {
        padding: 0 20px;
    }

    /*basket end*/
}

@media screen and (max-width: 1150px) {
    /*slider start*/
    .slider {
        margin-bottom: 20px;
    }

    .dots {
        display: block;
    }

    .slider__arrow {
        display: none;
    }
    /*slider end*/

    /*bradcramb start*/

    .contact-page .breadcrumb {
        float: none;
    }

    /*bradcramb end*/

    /*catalog start*/

    .catalog {
        background: none;
    }

    .categories {
        max-width: 680px;
    }

    .categories__category {
        margin-right: 30px;
        
        
    }

    .categories__title {
        font-size: 12px;
    }

    .categories__img {
        width: 176px;
        height: 176px;
        margin-bottom: 20px;
    }

    .categories__category:nth-child(3n),
    .categories__category:last-child {
        margin-right: 30px;
    }

    /*catalog finish*/

    /*reviews start*/

    .reviews__wrapper {
        max-width: 610px;
    }

    .reviews__list {
        padding-left: 35px;
    }

    .reviews__arrow {
        background: url('../img/arrow_black.svg') no-repeat center;
    }

    .reviews__arrow_right {
        right: -10%;
    }

    .reviews__arrow_left {
        left: -10%;
    }
    /*reviews finish*/

    /* contacts start */
    .contacts {
        min-height: 575px;
    }

    .contacts__contact {
        max-height: 400px;
    }

    .contacts__wrapper {
        bottom: 20px;
    }
    /*constacts end */

    /*contact start */

    .contact {
        margin-bottom: 100px;
    }

    .contact__bg {
        margin: 0 auto;
        width: 90%;
        height: 380px;
        background-size: cover;
    }

    .contact__wrapper {
        bottom: -45px;
        left: 55%;
    }

    /*contact end*/
}

@media screen and (max-width: 860px) {
    /*item start*/
    .table-info__tr {
        font-size: 16px;
    }

    .item__button {
        font-size: 20px;
    }
    /*item end*/

    /*contact start */

    .contact__bg {
        height: 290px;
    }

    /*contact end*/

    /*basket start*/

    .basket__item {
        padding-bottom: 10px;
    }

    .basket__left-item {  
        width: 210px;
    }

    .basket__right-item {
        padding-left: 20px;
    }

    .basket__img {
        height: 250px;
    }

    .basket__title {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .basket__price {
        font-size: 26px;
    }

    .basket__size {
        width: 26px;
        height: 26px;
        font-size: 16px;
    }

    /*basket end*/
}

@media screen and (max-width: 764px) {
    /*reviews start*/

    .reviews__arrow_right {
        right: 0;
    }

    .reviews__arrow_left {
        left: 0;
    }

    /*reviews finish*/

    /* contacts start */
    .contacts__contact {
        max-height: 300px;
    }

    .contacts__wrapper {
        bottom: 120px;
    }
    /*constacts finish */

    /*products start*/

    .products__list {
        justify-content: space-around;
    }

    .products__item {
        width: 150px;
        margin-bottom: 25px;
    }

    .product__wrapper {
        padding: 4px;
    }

    /*products end*/

    /*item start*/

    .item {
        flex-direction: column;
    }

    .item__left {
        margin-bottom: 30px;
    }

    .item__right {
        margin: 0 auto;
    }

    .gallery {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 315px;
    }

    .gallery__central {
        margin-bottom: 0;
    }

    .gallery__img {
        display: block;
        width: 236px;
        height: 287px;
    }

    .gallery__img_small {
        width: 70px;
        height: 92px;
    }


    .gallery__wrapper {
        flex-direction: column;
        margin-left: 5px;
    }
    /*item end*/

    /*transport start*/

    .transport__list {
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 auto;
        max-width: 400px;
    }

    .transport__title {
        font-size: 18px;
    }

    .transport__item {
        width: 200px;
        height: 80px;
        margin-bottom: 20px;
    }

    .transport__img {
        width: 100%;
        height: auto;
    }

    /*transport end*/

    /*popup start */

    .popup_basket .popup__form {
        max-width: 350px;
    }

    .popup_basket .popup__label {
        min-width: 80px;
        font-size: 16px;
    }

    .popup_basket .popup__input {
        flex-grow: 2;
    }

    .popup_basket .popup__title {
        font-size: 18px;
    }

    .popup_basket .popup__data {
        padding: 0;
    }

    .popup_basket .popup__close {
        top: 0;
    }
    
    .popup_basket .popup__label_checkbox {
        font-size: 14px;
    }

    .popup_basket .popup__label_checkbox:before {
        width: 25px;
        height: 25px;
        top: -5px;
        left: 15px;
        background-size: cover;
    }

    /*popup end*/
}

@media screen and (max-width: 650px) {

    /*slider start*/

    .slider {
        height: 350px;
    }

    .dots {
        display: block;
    }

    .slider__arrow {
        display: none;
    }

    .slider__text {
        width: 100px;
        line-height: 2.8;
        font-size: 16px;
    }

    /* slider finish */

    /*catalog start */

    .catalog__title {
        font-size: 24px;
        margin-bottom: 0;
    }

    .catalog__categories {
        padding-top: 20px;
    }

    .categories__category {
        margin-bottom: 0;
    }
    /*catalog finish */

    /*review start*/

    .reviews {
        background: none;
    }

    .reviews__title {
        font-size: 24px;
    }
    
    .reviews__list {
        padding-left: 60px;
    }

    .reviews__wrapper {
        max-width: 390px;
        margin: 0 auto;
    }

    .reviews__review {
        max-width: 285px;
        max-height: 330px;
    }
    
    /*review finish*/

    /*contacts start*/

    .contacts__title {
        font-size: 24px;
    }

    /*contacts finish*/

    /*menu start*/

    .menu {
        max-width: 375px;
        left: -30px;
        border-radius: 0 0 37px 37px;
    }

    .menu__list {
        padding: 37px 0 15px;
    }

    .menu__item {
        font-size: 14px;
    }

    .menu__link {
        padding: 17px 43px;
    }

    .close {
        top: 0;
        width: 20px;
        height: 20px;
    }

    .close::after,
    .close::before {
        width: 11px;
    }

    /*menu finish*/

    /*breadcrumb start*/

    .breadcrumb__item {
        font-size: 16px;
    }
    
    /*breadcrumb end*/

    /*popup start*/

    .popup__title {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .popup__input {
        height: 30px;
        margin-bottom: 30px;
    }

    .popup__succes {
        justify-content: center;
        margin-top: 20px;
        min-height: 200px;
        background-size: 370px 200px;
    }

    .popup__text {
        width: 280px;
        font-size: 14px;
        margin-bottom: 30px;
        line-height: 1.5;
    }

    /*popup finish*/

    /*contact start*/

    .contact__bg {
        width: 100%;
        height: 245px;
    }

    /*contact end*/
}

@media screen and (max-width: 420px) {

    .basket-page .header {
        padding-bottom: 5px;
    }

    /*slider start*/
    .slider {
        height: 260px;
        margin-bottom: 42px;
    } 
    /*slider finish*/

    /*catalog start*/

    .categories__category:nth-child(3n),
    .categories__category:last-child {
        margin-right: 0;
    }

    /*catalog finish*/

    /*contact start*/

    .contact__bg {
        height: 170px;
        background: url('../img/bg__content_mini-2.png') no-repeat center;
    }
    
    /*contact end*/

    /*basket start*/

    .basket__left-item {
        width: 62px;
    }

    .basket__title {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .basket__item {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .basket__price {
        font-size: 12px;
    }

    .basket__size {
        margin-top: 10px;
        width: 15px;
        height: 15px;
        font-size: 9px;
        border-width: 1px;
    }

    .basket__img {
        height: 75px;
    }

    .basket__button {
        padding: 5px 25px;
        font-size: 9px;
    }

    /*basket end*/

    /*popup start*/

    .popup_basket .popup__form {
        width: 280px;
    }

    .popup_basket .popup__data {
        margin: 10px 0;
    }

    .popup_basket .popup__title {
        font-size: 16px;
    }

    .popup_basket .popup__label {
        min-width: 60px;
        font-size: 12px;
    }

    .popup_basket .popup__input {
        margin-bottom: 20px;
        height: 32px;
        font-size: 12px;
    }

    .popup_basket .popup__label_checkbox:before {
        left: -5px;
    }
    
    /*popup end*/
}

@media screen and (max-width: 375px) {

    /* header start*/

    .catalog-page .header {
        padding-bottom: 0;
    }

    .item-page .header {
        padding-bottom: 0;
    }

    .header {
        padding: 0;
    }

    .header__wrapper {
        min-height: 129px;
        padding: 0 29px;
    }

    .header__logo {
        margin-top: 0;
    }

    .header__cart {
        padding-bottom: 10px;
    }

    .navbar__line,
    .navbar__line:before,
    .navbar__line:after {
        width: 18px;
        height: 3px;
    }

    .navbar__line::before {
        top: 5px;
    }

    .navbar__line::after {
        top: -5px;
    }

    .logo {
        align-items: center;
    }

    .logo__image {
        width: 93px;
        height: 63px;

    }

    .logo__phone {
        margin-top: -5px;
        margin-left: 60px;
        margin-bottom: 8px;
        width: 126px;
        font-size: 11px;
    }

    .logo__phone::before {
        width: 12px;
        height: 12px;
        top: -1px;
        left: -16px;
    }

    .logo__button {
        width: 157px;
        height: 24px;
        margin-right: 15px;
        font-size: 9px;
    }

    .cart {
        width: 20px;
    }

    /* header finish*/

    /* slider start */

    .slider {
        height: 183px;
    }

    .slider__window {
        max-height: 168px;
    }

    .dots {
        width: 38px;
        bottom: 0%;
    }

    .dots__dot {
        width: 5px;
        height: 5px;
    }

    .slider__text {
        font-size: 10px;
    }

     /* slider finished */

    /* catalog start */

    .catalog {
        margin-bottom: 50px;
        background: url('../img/butterfly.png') no-repeat 285px 195px,
                    url('../img/branch.png') no-repeat 40px 395px,
                    url('../img/butterfly_2.png') no-repeat 285px 465px,
                    url('../img/branch_2.png') no-repeat 50px 675px,
                    url('../img/butterfly_3.png') no-repeat 275px 900px,
                    url('../img/branch_3.png') no-repeat 30px 1075px;
        background-size: 35px 47px, 48px 80px, 27px, 43px 96px, 37px 35px, 85px 120px;
    }

    .categories {
        max-width: 220px;
        
    }

    .catalog__title {
        font-size: 12px;
    }

    .categories__category {
        height: 209px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .categories__category:nth-child(2) {
        order: 3;
    }

    .categories__category:nth-child(5) {
        order: 4;
    }

    .categories__title {
        margin-bottom: 20px;
    }
    /* catalog finish */

    /*reviews start*/

    .reviews {
        margin-bottom: 30px;
    }

    .reviews__title {
        margin-bottom: 15px;
        font-size: 12px;
    }

    .reviews__list {
        padding-left: calc((100% - 185px)/2);
    }

    .reviews__wrapper {
        max-width: 100%;
        background: url('../img/bg_mini.jpg') no-repeat 0 30px;
    }

    .reviews__review {
        max-width: 186px;
        max-height: 330px;
        margin-right: 96px;
        filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.44));
    }

    .reviews__arrow {
        top: 48%;
        background-size: 16px;
    }

    .reviews__arrow_left {
        left: 45px;
    }

    .reviews__arrow_right {
        right: 45px;
    }

    /*reviews finish*/

    /*contacts start*/

    .contacts {
        min-height: 200px;
        margin-bottom: 0;
    }

    .contacts__contact {
        max-height: 100px;
        background-position: 30px -20px;
        background-size: contain;
    }

    .contacts__wrapper {
        top: 68%;
    }

    .contacts__mail {
        display: none;
    }

    .contacts__title {
        font-size: 12px;
    }

    .social {
        width: 50px;
        margin: 0 auto;
    }

    .social__link {
        width: 10px;
        height: 10px;
        background-size: 9px;
    }

    /*contacts end*/

    /*breadcrumb start*/

    .item-page .breadcrumb {
        margin-bottom: 20px;
    }

    .breadcrumb {
        margin: 3px 0 20px;
        padding-left: 35px;
    }

    .breadcrumb__item {
        font-size: 12px;
    }
    
    /*breadcrumb end*/

    /*product start*/

    .products__item {
        max-width: 87px;
    }
    
    .products__item:nth-child(3n) {
        margin-right: 0;
    }

    .products__item:last-child {
        display: none;
    }

    .product__wrapper {
        padding: 2px;
    }

    .product__img {
        height: 113px;
    }

    .product__title {
        margin-bottom: 0;
        font-size: 10px;
    }

    .product__price {
        font-size: 12px;
    }

    /*product end*/

    /*pagination start*/

    .pagination {
        margin-bottom: 50px;
        width: 185px;
    }

    .pagination::before,
    .pagination::after {
        width: 30px;
        height: 20px;
        background-size: 16px;
    }

    .pagination::before {
        left: -45px;
    }

    .pagination::after {
        right: -45px;
    }

    .pagination__item {
        width: 27px;
        height: 27px;
        font-size: 12px;
    }

    /*pagination end*/

    /*item start*/

    .item__left {
        margin-bottom: 25px;
        text-align: start;
    }

    .item__right {
        display: flex;
        flex-direction: column;
        width: 360px;
    }

    .item__table-size {
        order: 4;
    }

    .item__button {
        order: 5;
    }

    .item__title {
        margin-bottom: 4px;
        border: none;
        font-size: 14px;
    }

    .item__price {
        margin-bottom: 15px;
        padding-left: 0;
        font-size: 18px;
    }

    .item__table-info {
        margin-bottom: 0;
    }

    .table-info__title {
        margin-bottom: 10px;
        padding-left: 0;
        font-size: 14px;
    }

    .table-info__tr {
        font-size: 12px;
        height: 20px;
    }

    .table-info__th {
        color: #446D4B;
    }

    .table-size {
        margin-top: 5px;
        margin-bottom: 18px;
    }

    .table-size__label {
        margin-right: 12px;
        width: 21px;
        height: 21px;
        font-size: 12px;
        line-height: 2;
    }

    .item__button {
        margin-left: 55px;
        padding: 10px;
        width: 193px;
        font-size: 13px;
    }

    /*item end*/

    /*contact start*/

    .contact {
        margin-top: 40px;
        margin-bottom: 75px;
    }

    .contact__bg {
        height: 90px;
        background: url('../img/bg__content_mini-2.png') no-repeat center;
    }

    .contact__mail {
        font-size: 12px;
    }
        
    /*contact end*/

    /*transport start*/

    .transports {
        margin-bottom: 90px;
    }

    .transport__item {
        margin-bottom: 30px;
        width: 110px;
        height: 22px;
    }


    .transport__title {
        font-size: 12px;
    }
    /*transport end*/


    
    /*footer start*/
    .footer__copyright {
        width: 80px;
        text-align: center;
        font-size: 7px;
    }
    /*footer end*/
}
